@ charset "utf-8";

body {
font-family: Arial, Helvetica, sans-serif;
background-color:
line-height: 1.6;
margin: 10px;
}

table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;

    border-radius: 11px;
    overflow: hidden;
}
caption{
font-size: 1.53m;
font-weight: bold;
padding: 10px;


}
th {
border: 2px solid;
text-align: center;
font-size: 1px;
f
}
thead{
text-align: center;




}footer{
   
 text-align: center;
    font-size: 24px;
    margin-top: 20px;
    
}
td  {
border: 2px solid;
text-align: justify left;
font-size: 1.2em;
font-weight: bolder;
}